<h2 mat-dialog-title class="text-center">{{action}} Public Holiday</h2>

<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-50 d-block m-auto" appearance="standard">
    <mat-label>Description*</mat-label>
    <input matInput placeholder="Eg. Clean Monday" formControlName="description" maxlength="100">
    <mat-error *ngIf="form?.controls?.description?.invalid">Description is required</mat-error>
  </mat-form-field>

  <mat-form-field class="w-50 d-block m-auto" appearance="standard">
    <mat-label>Date*</mat-label>
    <input matInput type="date" formControlName="date">
    <mat-error *ngIf="form?.controls?.date?.invalid">Date is required</mat-error>
  </mat-form-field>

</div>

<div mat-dialog-actions class="float-end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="form.getRawValue()" color="primary" [disabled]="form.invalid">Save</button>
</div>
